body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.bcg {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 10px;

  a {
    flex: 0 0 280px;
    display: flex;
    align-items: center;
    height: 90px;
    margin: 20px;
    width: 280px;
    padding: 15px 55px 15px 15px;
    background-clip: padding-box;
    background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0.25)
    );
    border: 1px solid rgba(76, 76, 76, 0.4);
    border-radius: 6px;
    outline: 1px solid transparent;
    transition: all 0.35s ease-in-out;
    text-decoration: none;
    position: relative;
    color: inherit;

    img {
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
    div:last-child {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      position: absolute;
      right: 0;
      height: 100%;
      width: 70px;
      overflow: hidden;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    div:last-child:after {
      background: hsla(0, 0%, 100%, 0.1);
      border-radius: 50%;
      box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
      content: "";
      height: 90px;
      position: absolute;
      right: -48px;
      top: 0;
      width: 90px;
    }
  }
}
